################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/PrismXamarin/QuickStartToPrism/02_MultiPage/Notes/Notes/bin/Debug/netstandard2.0
